@charset "UTF-8";

section {
    display: flex;
}

div#bot1 {
    text-align: center;
    color: white;
    font-size: 25pt;
    padding: 30px;
    background-color: grey;
    width: 100px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}